<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/0.10.0/lodash.min.js"></script>
</head>
<body>
    <div class="wrapper">
        <div class="navigate">
            <div class="functionContainer">
                <div class="home funcIcon funcOn"></div>
                <div class="newPost funcIcon">New Post</div>
                <div class="list funcIcon">List</div>
                <div class="statistics funcIcon">Statistics</div>
            </div>
            <div class="communityContaoner">
                <div class="search"></div>
                <div class="comment"></div>
            </div>            
        </div>
        <div class="homeContent subPage">
            <% include ../html/home.html %>
        </div>
        <div class="newPostContent subPage">
            <% include ../html/newPost.html %>
        </div>
        <div class="listContent subPage">
            <% include ../html/list.html %>
        </div>
        <div class="statisticsContent subPage">
            <%# include ../html/statistics.html %>
        </div>
    </div>
</body>
</html>