.ck-editor__editable {
  min-height: 1908px;
}

.newPostContainer {
  flex: none;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: calc(100% - 20rem);
  height: 42.5rem;
  margin-top: auto;
  margin-bottom: auto;
}

.templateContainer {
  flex: auto;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  margin: 0rem 5rem;
  margin-bottom: 5rem;
  justify-content: center;
  overflow: auto;
}

.templateContainer::-webkit-scrollbar {
  display: none;
}

.template {
  margin: 2rem;
  width: 11.25rem;
  height: 14.375rem;
  border: 3px solid #000000;
  cursor: pointer;
}

#blankTemplate {
  background-color: #ffffff;
}

.editorContainer {
  z-index: 2;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
}
.editorContainer.off {
  display: none;
}

#editor {
  background-color: white;
  width: 100%;
  height: 100%;
}

.editorNav {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70px;
  background-color: white;
  justify-content: center;
  align-items: center;
}
.editorClose {
  margin-left: auto;
  width: 18px;
  height: 27px;
  background-repeat: no-repeat;
  background-image: url("../images/allow.svg");
  vertical-align: middle;
  cursor: pointer;
  transform: scaleX(-1);
  margin-right: 20px;
}

.postSelectorList.off {
  display: none;
}

.postSelectorList {
  font-size: 12pt;
  font-weight: normal;
  margin-top: 2rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 2px 1px #0000003f;
  background-color: #ffffff;
  z-index: 3;
  width: 18.75rem;
}
.postSelectorList > span {
  padding: 0.8rem;
  cursor: pointer;
}
.selectorItem.selectNow {
  color: #ffffff;
  background-color: var(--ck-color-list-button-on-background);
}
.selectorItem.selectNow:hover {
  background-color: var(--ck-color-list-button-on-background);
}
.selectorItem:hover {
  background-color: #e0e0e0;
}

.selectorToggle {
  width: 20px;
  height: 20px;
  transform: rotate(90deg);
  background-image: url("../images/allow.svg");
  background-repeat: no-repeat;
  vertical-align: middle;
  margin: 0 1.5rem;
  margin-top: 0.3rem;
  cursor: pointer;
}
.save {
  top: 90%;
  left: 95%;
  position: fixed;
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 25px;
  box-shadow: 3px 3px 5px #0000009a;
  background-image: url("../images/saveIcon.svg");
  background-repeat: no-repeat;
  background-size: 24px 23px;
  background-position: center;
  cursor: pointer;
}

.postSelector {
  position: relative;
  display: flex;
  flex: none;
  font-size: 25px;
  overflow: visible;
  flex-direction: column;
}
.postIcon {
  margin-left: 25px;
  display: flex;
  margin-right: 20px;
  background-repeat: no-repeat;
  width: 25px;
  height: 100%;
  background-position: center;
}
.postIcon.notice {
  background-image: url("../images/newPostEditorImage/noticeIcon.svg");
}
.postIcon.writing {
  background-image: url("../images/newPostEditorImage/writingIcon.svg");
}
.postIcon.picture {
  background-image: url("../images/newPostEditorImage/pictureIcon.svg");
}
