html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.wrapper {
  background-color: #acacac;
  display: flex;
  flex-direction: row;
  height: 100%;
}
#contents {
  flex: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
header {
  width: 100%;
  height: 80px;
  background-color: #ffffff;
  border-bottom: solid 5px;
  border-bottom-color: #28313f;
  box-shadow: 0px 4px 5px #4a4a4a;
  display: flex;
  flex-direction: row;
}
#documentSelect {
  cursor: pointer;
  width: 18rem;
  height: 80px;
  position: relative;
  background: #28313f;
}
#documentSelect::before {
  content: "";
  position: absolute;
  right: -40px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 40px solid #28313f;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
}
#searchBar {
  top: 15px;
  width: 30rem;
  height: 50px;
  border-radius: 8px;
  background-color: #e5e5e5;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}
#searchBarIcon {
  background-image: url("assets/images/searchBarIcon.svg");
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  position: relative;
  z-index: 1;
  display: inline-block;
  margin: auto auto;
  top: 10px;
  left: 20px;
}
#bellIcon {
  background-image: url("assets/images/bell.svg");
  height: 40px;
  width: 40px;
  top: 20;
  margin: auto 4rem;
}
#workStation {
  display: flex;
  flex: auto;
  flex-direction: column;
  margin: 4rem;
  height: auto;
  width: auto;
}
.documentExplorer {
  flex-direction: column;
  display: none;
  position: relative;
  width: 20rem;
  height: 100%;
  background-color: #ffffff;
  box-shadow: 4px 0px 5px #4a4a4a;
}
#toolbar-container {
  flex-flow: row wrap;
}
#editor {
  flex-flow: row wrap;
  background-color: #ffffff;
  flex: auto;
}
.save {
  width: 100px;
}
.is-active {
  display: flex;
}
.is-deactivate {
  display: none;
}
.explorerButton {
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 50px;
  background-color: #28313f;
  text-align: center;
  line-height: 50px;
  color: #ffffff;
}

.titleList > li {
  cursor: pointer;
  position: relative;
  margin: 1rem 1rem 1rem 2rem;
}
